<h1 class='page-title'>See what's going on at MIT.</h1>
<h4 class='page-title'>Browse and search noisy mailing lists around MIT, so your inbox doesn't get cluttered.</h4>

  <%= form_tag search_url do %>
    <div class="input-group" id='search_box'>
      <input type="search" name='query' class="form-control" placeholder="Search for mailing lists and threads"/>
      <span class="input-group-addon"><button class='btn btn-primary btn-xs'><i class='glyphicon glyphicon-search'></i></button></span>
    </div>
  <% end %>


<div id='threads'>
  <%= render partial: 'thread', collection: EmailThread.recent(5), as: :thread %>
</div>