<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mailing_list.name %>
</p>

<%= link_to 'Edit', edit_mailing_list_path(@mailing_list) %> |
<%= link_to 'Back', mailing_lists_path %>
